#examples {

    .box-examples {
        box-shadow: 2px 5px 17px 2px rgba(0,0,0,.1);
        border-radius: 12px;
        
        .box-examples-content {
            white-space: pre-line;
            min-height: 500px;
            max-height: 500px;
            overflow-y: scroll;
            overflow-x: hidden;

            scrollbar-width: thin;
            scrollbar-color: #CDCDCD #F0EEEE;
            
            &::-webkit-scrollbar {
                width: 12px;
            }

            &::-webkit-scrollbar-track {
                background: #F0EEEE;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #CDCDCD;
                border-radius: 20px;
                border: 3px solid #F0EEEE;
            }
        }
    }
}

#cards {

    .cards-examples {
        min-height: 200px;

        .card-example {
            border-radius: 0.5rem;
            overflow: hidden;
            box-shadow: 0 0 1rem rgba(0,0,0,.2);
            transition: all 300ms;

            &.hovered {
                z-index: 2;
                border-radius: 0rem;
                img {
                    width: 320px;
                }
            }

            img {
                width: 260px;
                height: auto;
                transition: all 300ms;
            }
        }

        @media (min-width: 576px) { 
            min-height: 400px;
            .card-example {
                border-radius: 0rem;
                &.hovered {
                    border-radius: 0rem;
                }
            }
        }

        @media (min-width: 992px) {
            min-height: 200px;
            .card-example {
                border-radius: 0rem;
                &.hovered {
                    border-radius: 0rem;
                }
            }
        }

    }

}