.navbar {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 15px;
}

.logo{
    padding-left: 20px;
    font-family: Ubuntu;
}

.itens{
    font-size: smaller;
    padding-left: 30px;
}