.bg-navColor{
    background-color: #1084EE;
    // width: 90%;
    border-radius: 15px;
}

.logo{
    padding-left: 20px;
    font-family: Ubuntu;
}

.itens{
    // font-family: Montserrat;
    font-size: smaller;
    padding-left: 30px;
}

.teste{
    right: 5%;
    left: 5%;
}