// Variáveis ​​personalizadas aqui, exemplo:

$min-contrast-ratio:   3;
$enable-negative-margins: true;

$primary: #1084EE; // cor primária USARP

$body-color: #393939;

$font-family-base:      'Montserrat'; // Fonte principal
$headings-font-family:  'Ubuntu'; // Fonte para títulos

$btn-padding-y:    .9rem;
$btn-padding-x:    3.8rem;
$btn-padding-y-sm: .7rem;
$btn-padding-x-sm: 3.5rem;
$btn-padding-y-lg: 1.2rem;
$btn-padding-x-lg: 4.2rem;

$btn-border-radius:    3rem;
$btn-border-radius-sm: 3rem;
$btn-border-radius-lg: 3rem;
